<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <title>Carbone App</title>
    <link rel="stylesheet" type="text/css" href="../static/main.css">
  </head>

  <body>
    <header>
      <h1 class="outlined-text">Prédiction de la potabilité de l'eau</h1>
      <!-- <nav class="navbar">
      </nav> -->
    </header>
    <main>
      {% block content %}

      {% endblock %}
    </main>

    <footer>
     <article>
      <p>
        Buvez avec sobriété
      </p>
     </article>
    </footer>

        <script>
          function updatePhValue(newValue) {
            document.getElementById("phValue").innerText = newValue;
          }

          function updateHardnessValue(newValue) {
            document.getElementById("HardnessValue").innerText = newValue;
          }

          function updateSolidsValue(newValue) {
            document.getElementById("SolidsValue").innerText = newValue;
          }

          function updateChloraminesValue(newValue) {
            document.getElementById("ChloraminesValue").innerText = newValue;
          }

          function updateSulfateValue(newValue) {
            document.getElementById("SulfateValue").innerText = newValue;
          }

          function updateConductivityValue(newValue) {
            document.getElementById("ConductivityValue").innerText = newValue;
          }

          function updateOrganicCarbonValue(newValue) {
            document.getElementById("Organic_carbonValue").innerText = newValue;
          }

          function updateTrihalomethanesValue(newValue) {
            document.getElementById("TrihalomethanesValue").innerText = newValue;
          }

          function updateTurbidityValue(newValue) {
            document.getElementById("TurbidityValue").innerText = newValue;
          }
        </script>


  </body>

</html>
