{% extends "base.html" %}
{% block content %}
        <form action="/" method="post" class="prediction-form">
          <!-- Ph -->
          <div class="form-group">
            <label for="ph">Ph :</label><br>
            <input type="range" id="ph" name="ph" min="0" max="14" value="7" onchange="updatePhValue(this.value)">
            <span id="phValue">7</span>
          </div>
          <!-- Hardness -->
          <div class="form-group">
            <label for="Hardness">Hardness :</label><br>
            <input type="range" id="Hardness" name="Hardness" min="0" max="100" value="50"
              onchange="updateHardnessValue(this.value)">
            <span id="HardnessValue">50</span>
          </div>
          <!-- Solids -->
          <div class="form-group">
            <label for="Solids">Solids :</label><br>
            <input type="range" id="Solids" name="Solids" min="0" max="1000" value="500"
              onchange="updateSolidsValue(this.value)">
            <span id="SolidsValue">500</span>
          </div>
          <!-- Chloramines -->
          <div class="form-group">
            <label for="Chloramines">Chloramines :</label><br>
            <input type="range" id="Chloramines" name="Chloramines" min="0" max="10" value="5"
              onchange="updateChloraminesValue(this.value)">
            <span id="ChloraminesValue">5</span>
          </div>
          <!-- Sulfate -->
          <div class="form-group">
            <label for="Sulfate">Sulfate :</label><br>
            <input type="range" id="Sulfate" name="Sulfate" min="0" max="500" value="250"
              onchange="updateSulfateValue(this.value)">
            <span id="SulfateValue">250</span>
          </div>
          <!-- Conductivity -->
          <div class="form-group">
            <label for="Conductivity">Conductivity :</label><br>
            <input type="range" id="Conductivity" name="Conductivity" min="0" max="100" value="50"
              onchange="updateConductivityValue(this.value)">
            <span id="ConductivityValue">50</span>
          </div>
          <!-- Organic Carbon -->
          <div class="form-group">
            <label for="Organic_carbon">Organic Carbon :</label><br>
            <input type="range" id="Organic_carbon" name="Organic_carbon" min="0" max="50" value="25"
              onchange="updateOrganicCarbonValue(this.value)">
            <span id="Organic_carbonValue">25</span>
          </div>
          <!-- Trihalomethanes -->
          <div class="form-group">
            <label for="Trihalomethanes">Trihalomethanes :</label><br>
            <input type="range" id="Trihalomethanes" name="Trihalomethanes" min="0" max="200" value="100"
              onchange="updateTrihalomethanesValue(this.value)">
            <span id="TrihalomethanesValue">100</span>
          </div>
          <!-- Turbidity -->
          <div class="form-group">
            <label for="Turbidity">Turbidity :</label><br>
            <input type="range" id="Turbidity" name="Turbidity" min="0" max="10" value="5"
              onchange="updateTurbidityValue(this.value)">
            <span id="TurbidityValue">5</span>
          </div>

          <button type="submit" class="styled-button">Résultats !</button>
        </form>


          {% if comment %}
          <article>
              <p>{{ comment }}</p>
              <p>Disclaimer : Nos estimations sont fiables à seulement 60%, buvez de petites gorgées</p>
              <!-- ajouter predict proba ici -->
          </article>
          {% endif %}

{% endblock %}
